
.products{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 50px 0;
}

.top_slide{
  padding: 50px 0;
  font-size: 18px;
}

/* ================= TABLET ================= */
@media (max-width: 1024px){
  .products{
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ================= SMALL TABLET ================= */
@media (max-width: 768px){
  .products{
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ================= MOBILE ================= */
@media (max-width: 480px){
  .products{
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
     padding: 20px 10px;
  }
}